/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'woodmac';
@reset      : 'woodmac';

/* Elements */
@button     : 'woodmac';
@container  : 'woodmac';
@divider    : 'woodmac';
@flag       : 'woodmac';
@header     : 'woodmac';
@icon       : 'woodmac';
@image      : 'woodmac';
@input      : 'woodmac';
@label      : 'woodmac';
@list       : 'woodmac';
@loader     : 'woodmac';
@rail       : 'woodmac';
@reveal     : 'woodmac';
@segment    : 'woodmac';
@step       : 'woodmac';

/* Collections */
@breadcrumb : 'woodmac';
@form       : 'woodmac';
@grid       : 'woodmac';
@menu       : 'woodmac';
@message    : 'woodmac';
@table      : 'woodmac';

/* Modules */
@accordion  : 'woodmac';
@checkbox   : 'woodmac';
@dimmer     : 'woodmac';
@dropdown   : 'woodmac';
@embed      : 'woodmac';
@modal      : 'woodmac';
@nag        : 'woodmac';
@popup      : 'woodmac';
@progress   : 'woodmac';
@rating     : 'woodmac';
@search     : 'woodmac';
@shape      : 'woodmac';
@sidebar    : 'woodmac';
@sticky     : 'woodmac';
@tab        : 'woodmac';
@transition : 'woodmac';

/* Views */
@ad         : 'woodmac';
@card       : 'woodmac';
@comment    : 'woodmac';
@feed       : 'woodmac';
@item       : 'woodmac';
@statistic  : 'woodmac';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '../../src/semantic/themes';

/* Path to site override folder */
@siteFolder  : '../../src/semantic/site';


/*******************************
         Import Theme
*******************************/

@import "~semantic-ui-less/theme.less";
@fontPath : "../../../themes/@{theme}/assets/fonts";


/*******************************
         Import Custom Modules
*******************************/
@import "../../src/less/mixins.less";

/* End Config */